body { margin: 0; padding: 0;font-family: sans-serif; }
.container { display: flex; }
.map-container { flex: 2; }
.info-panel { flex: 1; background-color: #f2f2f2; padding: 10px; }
#map { height: 100%; }
.dropdown {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    padding:10px
}
.dropdown-topright {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    padding:10px
}
.legend {
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 1;
    padding:10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.slider-container {
    position: absolute;
    bottom: 40px;
    left: 10px;
    z-index: 1;
    width: 200px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.slider {
    width: 100%;
}
.color {
    padding:4px
}